.chatinput {
    width: 20em;
}

.chatbox {
    width: 20em;
}

.room-item {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

#game-out span {
    padding: 10px;
    font-size: 0px;
    border: 1px solid gray;
    border-radius: 11px;
    margin-right: 2px;
}

.mono {
    font-family: monospace;
}

.creator {
    background-color: yellow;
}

.opponent {
    background-color: red;
}

.empty {
    background-color: lightgray;
}

* {
    font-family: sans-serif;
}